<!-- bootstrap에서 가져옴 -->

{% extends "base.html" %} {% block contents %} {% comment %} blcok
"contents"라는 이름으로 base.html에서 상속을 받는다. {% endcomment %}
<div class="row mt-5">
  <!-- mt-5는 여백추가 -->
  <div class="col-12 text-center">
    <!-- 텍스트 정력 -->
    <h1>로그인</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">{{ error }}</div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %}
      <!-- 꼭 토큰은 form 안에 써야 된다. 다른 곳에서 호출하는 문제점을 막는다. 토큰 안쓰면 에러난다.-->
      <div class="mb-3">
        <label for="username">사용자 이름</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="사용자 이름"
          name="username"
        />
      </div>
      <div class="mb-3">
        <label for="password">비밀번호</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="비밀번호"
          name="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">로그인</button>
    </form>
  </div>
</div>
{% endblock %}
